@font-face {
  font-family: 'topworkicon';
  src: url('./fonts/font-icons/topworkicon.eot?t33n23');
  src: url('./fonts/font-icons/topworkicon.eot?t33n23#iefix') format('embedded-opentype'),
    url('./fonts/font-icons/topworkicon.ttf?t33n23') format('truetype'), url('./fonts/font-icons/topworkicon.woff?t33n23') format('woff'),
    url('./fonts/font-icons/topworkicon.svg?t33n23#topworkicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='topworkicon-'],
[class*=' topworkicon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'topworkicon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.topworkicon-check_circle:before {
  content: '\e964';
}
.topworkicon-airplay:before {
  content: '\e935';
}
.topworkicon-align-center:before {
  content: '\e936';
}
.topworkicon-align-left:before {
  content: '\e908';
}
.topworkicon-archive:before {
  content: '\e909';
}
.topworkicon-arrow-down-circle:before {
  content: '\e937';
}
.topworkicon-arrow-down:before {
  content: '\e900';
}
.topworkicon-arrow-left-circle:before {
  content: '\e938';
}
.topworkicon-arrow-left:before {
  content: '\e90a';
}
.topworkicon-arrow-right-circle:before {
  content: '\e939';
}
.topworkicon-arrow-right:before {
  content: '\e90b';
}
.topworkicon-arrow-up-circle:before {
  content: '\e93a';
}
.topworkicon-arrow-up:before {
  content: '\e90c';
}
.topworkicon-bar-chart-2:before {
  content: '\e90d';
}
.topworkicon-bar-chart:before {
  content: '\e974';
}
.topworkicon-bell:before {
  content: '\e93b';
}
.topworkicon-bookmark:before {
  content: '\e93c';
}
.topworkicon-briefcase:before {
  content: '\e901';
}
.topworkicon-calendar:before {
  content: '\e90e';
}
.topworkicon-camera:before {
  content: '\e93d';
}
.topworkicon-check-circle:before {
  content: '\e93e';
}
.topworkicon-check-square:before {
  content: '\e93f';
}
.topworkicon-check:before {
  content: '\e90f';
}
.topworkicon-chevron-down:before {
  content: '\e910';
}
.topworkicon-chevron-left:before {
  content: '\e911';
}
.topworkicon-chevron-right:before {
  content: '\e912';
}
.topworkicon-chevron-up:before {
  content: '\e913';
}
.topworkicon-chevrons-down:before {
  content: '\e940';
}
.topworkicon-chevrons-left:before {
  content: '\e941';
}
.topworkicon-chevrons-right:before {
  content: '\e942';
}
.topworkicon-chevrons-up:before {
  content: '\e943';
}
.topworkicon-circle:before {
  content: '\e944';
}
.topworkicon-clipboard:before {
  content: '\e914';
}
.topworkicon-clock:before {
  content: '\e915';
}
.topworkicon-code:before {
  content: '\e945';
}
.topworkicon-download:before {
  content: '\e916';
}
.topworkicon-edit-3:before {
  content: '\e917';
}
.topworkicon-external-link:before {
  content: '\e918';
}
.topworkicon-file-minus:before {
  content: '\e978';
}
.topworkicon-file-plus:before {
  content: '\e946';
}
.topworkicon-file-text:before {
  content: '\e919';
}
.topworkicon-file:before {
  content: '\e91a';
}
.topworkicon-folder-minus:before {
  content: '\e947';
}
.topworkicon-folder-plus:before {
  content: '\e948';
}
.topworkicon-folder:before {
  content: '\e91b';
}
.topworkicon-grid:before {
  content: '\e902';
}
.topworkicon-hard-drive:before {
  content: '\e949';
}
.topworkicon-help-circle:before {
  content: '\e91c';
}
.topworkicon-home:before {
  content: '\e903';
}
.topworkicon-image:before {
  content: '\e91d';
}
.topworkicon-inbox1:before {
  content: '\e91e';
}
.topworkicon-life-buoy:before {
  content: '\e91f';
}
.topworkicon-link:before {
  content: '\e94a';
}
.topworkicon-list:before {
  content: '\e94b';
}
.topworkicon-lock:before {
  content: '\e94c';
}
.topworkicon-log-in:before {
  content: '\e94d';
}
.topworkicon-log-out:before {
  content: '\e920';
}
.topworkicon-mail:before {
  content: '\e921';
}
.topworkicon-map-pin:before {
  content: '\e94e';
}
.topworkicon-map:before {
  content: '\e94f';
}
.topworkicon-message-square:before {
  content: '\e922';
}
.topworkicon-minus:before {
  content: '\e923';
}
.topworkicon-monitor:before {
  content: '\e924';
}
.topworkicon-more-horizontal:before {
  content: '\e925';
}
.topworkicon-more-vertical:before {
  content: '\e926';
}
.topworkicon-paperclip:before {
  content: '\e950';
}
.topworkicon-play:before {
  content: '\e951';
}
.topworkicon-plus-circle:before {
  content: '\e952';
}
.topworkicon-plus-square:before {
  content: '\e953';
}
.topworkicon-plus:before {
  content: '\e927';
}
.topworkicon-power:before {
  content: '\e954';
}
.topworkicon-printer:before {
  content: '\e928';
}
.topworkicon-refresh-ccw:before {
  content: '\e955';
}
.topworkicon-refresh-cw:before {
  content: '\e956';
}
.topworkicon-rotate-ccw:before {
  content: '\e957';
}
.topworkicon-rotate-cw:before {
  content: '\e929';
}
.topworkicon-save:before {
  content: '\e92a';
}
.topworkicon-search:before {
  content: '\e92b';
}
.topworkicon-settings:before {
  content: '\e904';
}
.topworkicon-share:before {
  content: '\e958';
}
.topworkicon-shopping-bag:before {
  content: '\e959';
}
.topworkicon-skip-back:before {
  content: '\e95a';
}
.topworkicon-skip-forward:before {
  content: '\e95b';
}
.topworkicon-slash:before {
  content: '\e92c';
}
.topworkicon-sliders:before {
  content: '\e966';
}
.topworkicon-star:before {
  content: '\e92d';
}
.topworkicon-sun:before {
  content: '\e962';
}
.topworkicon-tag:before {
  content: '\e92e';
}
.topworkicon-thumbs-up:before {
  content: '\e92f';
}
.topworkicon-trash-2:before {
  content: '\e930';
}
.topworkicon-trash:before {
  content: '\e95c';
}
.topworkicon-unlock:before {
  content: '\e95d';
}
.topworkicon-upload:before {
  content: '\e931';
}
.topworkicon-user-check:before {
  content: '\e95e';
}
.topworkicon-user-minus:before {
  content: '\e95f';
}
.topworkicon-user-plus:before {
  content: '\e932';
}
.topworkicon-user-x:before {
  content: '\e960';
}
.topworkicon-user:before {
  content: '\e905';
}
.topworkicon-users:before {
  content: '\e906';
}
.topworkicon-x-circle:before {
  content: '\e933';
}
.topworkicon-x-square:before {
  content: '\e961';
}
.topworkicon-x:before {
  content: '\e934';
}
.topworkicon-clock-bold:before {
  content: '\e980';
}
.topworkicon-file-audio:before {
  content: '\e979';
}
.topworkicon-file-excel:before {
  content: '\e97a';
}
.topworkicon-file-image:before {
  content: '\e97b';
}
.topworkicon-file-pdf:before {
  content: '\e97c';
}
.topworkicon-file-powerpoint:before {
  content: '\e97d';
}
.topworkicon-file-video:before {
  content: '\e97e';
}
.topworkicon-file-word:before {
  content: '\e97f';
}
.topworkicon-tilde:before {
  content: '\e977';
}
.topworkicon-clock-2:before {
  content: '\e976';
}
.topworkicon-account:before {
  content: '\e975';
}
.topworkicon-arrow-dropdown:before {
  content: '\e972';
}
.topworkicon-edit:before {
  content: '\e973';
}
.topworkicon-arrow-cicle-2:before {
  content: '\e963';
}
.topworkicon-briefcase-2:before {
  content: '\e968';
}
.topworkicon-check-2:before {
  content: '\e969';
}
.topworkicon-chevron-right-2:before {
  content: '\e96a';
}
.topworkicon-close:before {
  content: '\e96b';
}
.topworkicon-edit-2:before {
  content: '\e96c';
}
.topworkicon-file-text-2:before {
  content: '\e96d';
}
.topworkicon-flag-2:before {
  content: '\e96e';
}
.topworkicon-message-square-2:before {
  content: '\e96f';
}
.topworkicon-star-2:before {
  content: '\e970';
}
.topworkicon-star-active-2:before {
  content: '\e971';
}
.topworkicon-edit-4:before {
  content: '\e907';
}
.topworkicon-clipboard-list:before {
  content: '\e965';
}
.topworkicon-documents:before {
  content: '\e967';
}
.topworkicon-inbox:before {
  content: '\f01c';
}
.topworkicon-twitter-square:before {
  content: '\f081';
}
.topworkicon-facebook-square:before {
  content: '\f082';
}
.topworkicon-linkedin-square:before {
  content: '\f08c';
}
.topworkicon-twitter:before {
  content: '\f099';
}
.topworkicon-github:before {
  content: '\f09b';
}
.topworkicon-briefcase1:before {
  content: '\f0b1';
}
.topworkicon-pinterest-square:before {
  content: '\f0d3';
}
.topworkicon-google-plus-square:before {
  content: '\f0d4';
}
.topworkicon-youtube-square:before {
  content: '\f166';
}
.topworkicon-youtube:before {
  content: '\f167';
}
.topworkicon-youtube-play:before {
  content: '\f16a';
}
.topworkicon-apple:before {
  content: '\f179';
}
.topworkicon-windows:before {
  content: '\f17a';
}
.topworkicon-foursquare:before {
  content: '\f180';
}
.topworkicon-wordpress:before {
  content: '\f19a';
}
.topworkicon-bank:before {
  content: '\f19c';
}
.topworkicon-institution:before {
  content: '\f19c';
}
.topworkicon-university:before {
  content: '\f19c';
}
